.feature-box{
    padding: 0em 0.3em 3em;
}
.feature{
    opacity: 0;
    padding: 0.5em 0.3em;
}
.feature h1{
    font-weight:100;
    font-size: 6em;
    font-family: Helvetica Neue, HelveticaThin, 'Roboto', sans-serif;    
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}  